*.sublime-*
*.sublime-project
.vagrant
/WP
/_/fonts
/content/drafts
/kirby
/panel
/public/kirby
/public/panel
_/bower_components
_/fonts/
_/jslib/
_/styleguide/
_/uploads
_/uploads/
_/wp-theme/
accounts
assets/fonts
assets/styleguide
config
content/drafts
node_modules
power-and-responsibility/src
public/assets/fonts
public/content/drafts
public/kirby/
public/vendor/
public/power-and-responsibility/src
site/accounts/
site/cache
site/config/config.php
site/templates/x-*.php
src/fonts/
thumbs
wp-theme
