/* Menu
-------------------------------------------------- */

.menu {
  position: absolute;
  top: -0.83rem;
  width: 100%;
  max-width: $page-max-width;
  height: auto;

  @extend %font-sans;
  @include media(mobile-only) {
    position: absolute;
    width: auto;
    max-width: 100%;
  }
  @include media(not-mobile) {
    @include font-size(15);
    @include flex(1);
    @include display(flex);
  }
  li:last-of-type {
    margin-right: 0;
  }
  &:before {
    // z-index: 1;
    // display: inline-block;
    // width: 12px;
    // height: 12px;
    // content: url("/_/images/dec/circle-menu.svg");
    // content: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE0cHgiIGhlaWdodD0iMTRweCIgdmlld0JveD0iMCAwIDE0IDE0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNCAxNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGNpcmNsZSBmaWxsPSIjRjA0QzIzIiBjeD0iNyIgY3k9IjciIHI9IjciIGlkPSJjaXJjbGUtbWVudSIgLz48L2c+PC9zdmc+);
    // @include flex-grow(0);
  }
}
.menu a {
  font-weight: 400;
  line-height: (18/15);
  display: inline;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $c-brown; /* Brown */

  @include font-size(15);
  &:hover {
    text-decoration: none;
    color: $c-brown;
    border-bottom-color: $c-red;
  }
}
.menu .active {
  color: $c-red;
  &:hover {
    color: $c-red-light;
    border-bottom-color: $c-red-light;
  }
}
.menu > li {
  position: relative;
  margin-right: 1em;
  text-align: left;

  @include media('(max-width: 400px)') {
    width: 40%;
  }
  @include media(mobile-only) {
    float: left;
    width: 30%;
    margin-right: 0;
    margin-bottom: 0;
  }
  @include media(not-mobile) {
    padding-left: 0.125em;
    text-align: right;

    @include flex-grow(1);
  }
}
.menu > li > a {
  padding: 0 0 0.15em;
  border-bottom: 2px solid transparent;
}

.home-link {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 6px;
  // content: url("/_/images/dec/circle-menu.svg");
  content: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjE0cHgiIGhlaWdodD0iMTRweCIgdmlld0JveD0iMCAwIDE0IDE0IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxNCAxNCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGNpcmNsZSBmaWxsPSIjRjA0QzIzIiBjeD0iNyIgY3k9IjciIHI9IjciIGlkPSJjaXJjbGUtbWVudSIgLz48L2c+PC9zdmc+);
  transition: all 0.5s $easing-default;
}
.home-link:hover {
  opacity: 0.5;
  transition: all 0.5s $easing-default;
}