
@font-face {
  font-family: 'Apercu Regular';
  src: url('/assets/fonts/apercu_regular.eot');
  src: url('/assets/fonts/apercu_regular.eot?') format('embedded-opentype'),
  url('/assets/fonts/apercu_regular.woff') format('woff'),
  url('/assets/fonts/apercu_regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Regular';
  src: url('/assets/fonts/apercu_regular_italic.eot');
  src: url('/assets/fonts/apercu_regular_italic.eot?') format('embedded-opentype'),
  url('/assets/fonts/apercu_regular_italic.woff') format('woff'),
  url('/assets/fonts/apercu_regular_italic.ttf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
