
@font-face {
  font-family: 'Apercu';
  src: url('http://f.fontdeck.com/f/1/T25XNGd1OUcABNgczsHVyY2SSl7bxRXXLBuPZreYgC+EnhBNzaY8kZ3z2cG0+wqR3GY.eot');
  src: url('http://f.fontdeck.com/f/1/T25XNGd1OUcABNgczsHVyY2SSl7bxRXXLBuPZreYgC+EnhBNzaY8kZ3z2cG0+wqR3GY.eot?') format('embedded-opentype'),
  url('http://f.fontdeck.com/f/1/T25XNGd1OUcABNgczsHVyY2SSl7bxRXXLBuPZreYgC+EnhBNzaY8kZ3z2cG0+wqR3GY.woff') format('woff'),
  url('http://f.fontdeck.com/f/1/T25XNGd1OUcABNgczsHVyY2SSl7bxRXXLBuPZreYgC+EnhBNzaY8kZ3z2cG0+wqR3GY.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('http://f.fontdeck.com/f/1/ZUw0VkdjVFMABAFiYIEVnpIp33HstyLt3NZWQOqyteMhLCigLhc5j/m5Ky8pLTXhck0.eot');
  src: url('http://f.fontdeck.com/f/1/ZUw0VkdjVFMABAFiYIEVnpIp33HstyLt3NZWQOqyteMhLCigLhc5j/m5Ky8pLTXhck0.eot?') format('embedded-opentype'),
  url('http://f.fontdeck.com/f/1/ZUw0VkdjVFMABAFiYIEVnpIp33HstyLt3NZWQOqyteMhLCigLhc5j/m5Ky8pLTXhck0.woff') format('woff'),
  url('http://f.fontdeck.com/f/1/ZUw0VkdjVFMABAFiYIEVnpIp33HstyLt3NZWQOqyteMhLCigLhc5j/m5Ky8pLTXhck0.ttf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
