
@font-face {
  font-family: 'Tiempos Text';
  src: url('/assets/fonts/TiemposTextWeb-Regular.eot');
  src: url('/assets/fonts/TiemposTextWeb-Regular.eot?') format('embedded-opentype'),
  url('/assets/fonts/TiemposTextWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Text';
  src: url('/assets/fonts/TiemposTextWeb-RegularItalic.eot');
  src: url('/assets/fonts/TiemposTextWeb-RegularItalic.eot?') format('embedded-opentype'),
  url('/assets/fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
