.article-footnotes {
  &,
  li {
    line-height: (24/15);
    text-transform: none;
    color: $c-black;

    @extend %font-sans;
    @include font-size(15);
    @include center;
  }
  a {
    text-transform: none;
    border-bottom-color: $c-teal;
  }
  h2 {
    text-align: center;

    @include aside-list-header;
  }
  li:before {
    content: none;
    // content: url('/assets/images/dec/circle-lede-fin.svg'); // Grey circle
  }
  ul {
    margin-left: 0;

    @include center;
  }
}