// Projects: Selected Clients

.clients-list {
  line-height: (24/15);
  margin-bottom: 5.25rem;
  text-align: center;

  @include media(not-mobile) {
    &:first-of-type:before {
      padding-right: 0;
      content: '';
    }
  }
  &,
  a,
  li {
    color: $c-brown;

    @include font-size(14);
  }
  ul {
    max-width: $body-wrap-width;

    @include center;
  }
  li {
    display: block;
    padding: 0.25rem 0.5rem 0.125rem 0rem;
    white-space: nowrap;
    letter-spacing: 0.1em;
    // @include font-size(14);

    @extend %font-sans;
    @include media(not-mobile) {
      display: inline-block;
      &:after {
        font-size: 100%;
        line-height: 1;
        display: inline-block;
        width: 11px;
        height: 11px;
        margin-top: 2px;
        margin-left: 0.75rem;
        content: '•';
        content: url('/assets/images/dec/circle-clients.svg');
        vertical-align: top;
        color: $c-teal;
      }
      &:first-of-type:before,
      &:last-of-type:after {
        content: '';
      }
    }
  }
}