// Figures

.article-text,
.main {
  figure {
    margin: 3.5rem auto;
    text-align: center;
    img {
      display: block;
      text-align: center;

      @include center;
    }
  }
  figure + figure {
    margin-top: 0;
  }
  h2 + figure {
    margin-top: 0;
  }
}

figure.bordered img,
img.bordered {
  padding: 4px;
  border: 2px solid $c-figure-border;
}

figure {
  img {
    max-width: 100%;
    height: auto;
  }

  &.decoration {
    text-align: center;
    @include center;
  }

  &.decoration.more-margin {
    margin-top: 5.625rem;
    margin-bottom: 5.625rem;
  }
}

figcaption {
  // width: 100%;
  text-align: left;
  font-size: 89%;
  margin-top: 1rem;
  font-style: italic;
  em {
    font-style: normal;
  }
}