// Mailing List signup form in footer

.newsletter-signup {
  margin-top: 0rem;
  form {
    padding: 0.35rem 0 0 0;
    text-align: left;
    border: none;
  }
  h3 {
    font-style: italic;
    line-height: (19.2/16);
    padding-left: 2px;
    text-transform: none;
    color: $c-purple;

    @include font-size(16);
  }
  label {
    display: none;
  }
  input {
    vertical-align: top;
    outline: 0;
  }
  input.email,
  input[type='email'] {
    display: inline-block;
    min-width: 50%;
    max-width: 21em;
    height: 1.5rem;
    padding: 0.25em 0.25em 0.125em 0.5em;
    letter-spacing: 0.1em;

    @extend %font-serif;
  }
  &:before {
    display: block;
    margin-bottom: 1rem;
    @include media(not-mobile) {
      content: url('/assets/images/dec/wave-med.svg');
      max-width: 100%;
      overflow: hidden;
    }
  }
}
button {
  display: inline-block;
  margin-top: 2px;
  cursor: pointer;
  transition: all 0.25s $easing-default;
  vertical-align: top;
  border: none;
  background: transparent;
  box-shadow: none;
}
#newsletter-submit {
  transition: all 0.25s $easing-default;
  button:hover &,
  &:hover {
    transition: all 0.25s $easing-default;

    fill: #dddddd;
    stroke: $c-black;
  }
}