
/* Next/Prev nav
-------------------------------------------------- */
.nextprev {
  padding: 1em 0;
  clear: both;
}
.nextprev a {
  border: none;
  color: $c-teal;
}
.nextprev a:hover {
	color: $c-purple;
}
.nextprev .prev {
  float: left;
}
.nextprev .next {
  float: right;
}
