/* Utilities
-------------------------------------------------- */

hr,
.main hr {
  max-width: 13em;
  height: 1px;
  margin: 2em auto 2em;
  // background: url('/_/images/dec/wave-med.svg') 0 0 no-repeat;
  content: '—';
  border: none;

  page-break-after: always;
}

td {
  vertical-align: top;
}

.floatright {
  float: right;
}
.floatleft {
  float: left;
}
.pagebreak {
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
  img {
    display: inline-block;
  }
}
.inlineblock {
  display: inline-block;
}
.inlineblock {
  display: block;
}
.center {
  text-align: center;
  @include center;
}
.not-mobile {
  @include media(mobile-only) {
    display: none !important;
  }
}
.mobile-only {
  @include media(not-mobile) {
    display: none !important;
  }
}

/* Clearfix
-------------------------------------------------- */

.clearfix:after,
.cf:after {
  display: table;
  clear: both;
  content: '';
}

/* Brakes Text for Mobile */
.page-break {
  page-break-before:always;
}

